/* app css stylesheet */

.error {
  color: #ff0000;
}

.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 0.5s;
}

.button-margin {
    margin-left: 10%;
}