<div style="display: block; margin: 0 auto;">
	<form>
	  	URL:<br/>
	  	<input name="url" type="text" size="50" ng-model="data.url" required/><br/>
	  	<span ng-show="haveError" class="error animate-show-hide">{{error}}</span>
	  	<p></p>
		<input type="submit" class="button-margin" ng-click="submiturl(data)" value="Submit"/><br/>
	</form>
</div>
<br/>
<div ng-show="haveValideResponse" class="animate-show-hide">
	<table>
		<tr><td>HTML Version: </td><td>{{htmlVersion}}</td></tr>
		<tr><td>Page Title: </td><td>{{title}}</td></tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr><td>Header</td><td>Occurrences</td></tr>
		<tr ng-repeat="headerOccurrence in headersOccurrences track by $index"><td>H{{$index+1}}</td><td>{{headerOccurrence}}</td></tr>
	</table>
</div>